<div class="top-bar">
  <img  src="<%= image_path('Box_logo.png') %>" alt="Logo" class="top-bar-logo">

</div>

<div class="header-bar">
  <h1 class="welcome-text">Howdy, <%= @current_user.first_name %>!</h1>
  <%= link_to "Logout", logout_path, class: "logout-btn" %>
</div>

<div>
  <%= form_with url: user_path(@current_user), method: :get, class: "class-menu" do %>
    <h2>Select a course: </h2>
    <div>
      <%= select_tag :course_number, 
          options_from_collection_for_select(@courses.sort_by(&:course_number), "course_number", "course_number", selected: params[:course_number]), 
          include_blank: 'No selection', onchange: "this.form.submit();" %>
    </div>
  <% end %>
</div>

<% if params[:course_number].present? && params[:course_number] != "" %>
  <div class="circular-btn-container">
    <%= form_with url: mark_path, method: :post, class: "circular-form" do %>
      <%= hidden_field_tag :email, @current_user.email %>
      <%= hidden_field_tag :course_number, params[:course_number] %>
      <%= button_tag type: 'submit', id: 'mark-attendance-btn', class: "check-in-btn #{'marked' if session[:stu_attendance_marked]}" do %>
        <% if session[:stu_attendance_marked] %>
          <span>CHECKED IN!</span>
        <% else %>
          <span>CHECK IN FOR <%= params[:course_number] %></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="bottom-bar">
        <img src="<%= image_path('Horiz_logo.png') %>" alt="Logo" class="bottom-bar-logo">
</div>


