<h2>Howdy <%= @current_user.first_name %>!</h2>
<div id="user-details">
  <p>
    <strong>Email:</strong>
    <%= @current_user.email %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= @current_user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @current_user.last_name %>
  </p>

  <!-- Add the button to download the CSV -->
  <%= link_to "Download Attendance CSV", export_csv_path, class: "btn btn-primary" %>

  <%= link_to "Logout", logout_path %>
</div>