<div class="top-bar">
  <img  src="<%= image_path('Box_logo.png') %>" alt="Logo" class="top-bar-logo">

  <% if @user %>
    <%= image_tag image_path('profile.png'), alt: "Default Profile Picture", class: "profile-picture" %>
  <% end %>
</div>

<div class="header-bar">
  <h1 class="welcome-text">Howdy TA <%= @current_user.first_name %>!</h1>
  <%= link_to "Logout", logout_path, class: "logout-btn" %>
</div>

<h1 class="admin-text">TA PAGE</h1>

<div class="circular-btn-container">
  <%= form_with url: mark_path, method: :post, class: "circular-form" do %>
    <%= hidden_field_tag :email, @current_user.email %>
    <%= button_tag type: 'submit', id: 'mark-attendance-btn', class: "circular-btn #{'marked' if session[:attendance_marked]}" do %>
      <% if session[:attendance_marked] %>
        <span>Attendance</span><br>
        <span style="margin-top: -45px;">Marked!</span>
      <% else %>
        <span>I AM</span><br>
        <span>HERE!</span>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="bottom-bar">
        <img src="<%= image_path('Horiz_logo.png') %>" alt="Logo" class="bottom-bar-logo">
</div>
<%# <div id="user-details"> %>
  <!--<p>
  <strong>Email:</strong>
    <%= @current_user.email %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= @current_user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @current_user.last_name %>
  </p> -->

  <!--<%= form_with url: mark_path, method: :post do %>
    <%= hidden_field_tag :email, @current_user.email %> 
    <%= submit_tag 'Mark my attendance',id: 'mark-attendance-btn', class: 'btn btn-primary' %>
  <% end %> -->

  
<%# </div> %>

