<h2>Howdy <%= @current_user.first_name %>!</h2>
<div id="user-details">
  <p>
    <strong>Email:</strong>
    <%= @current_user.email %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= @current_user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @current_user.last_name %>
  </p>

  <%= form_with url: mark_attendance_path, method: :post do %>
    <%= hidden_field_tag :email, @current_user.email %> <!-- Using the current user's email -->
    <%= submit_tag 'Mark my attendance',id: 'mark-attendance-btn', class: 'btn btn-primary' %>
  <% end %>

  <%= link_to "Logout", logout_path %>
</div>