<%= form_with model: @course, local: true, class: 'edit-form' do |f| %>
    <div>
      <%= f.label :course_number, "Course Number" %>
      <%= f.text_field :course_number %>
    </div>
  
    <div>
      <%= f.label :course_name, "Course Name" %>
      <%= f.text_field :course_name %>
    </div>
  
    <div>
      <%= f.label :instructor_name, "Instructor Name" %>
      <%= f.text_field :instructor_name %>
    </div>
  
    <div>
      <%= f.label :start_date, "Start Date" %>
      <%= f.date_field :start_date %>
    </div>
  
    <div>
      <%= f.label :end_date, "End Date" %>
      <%= f.date_field :end_date %>
    </div>
  
    <div>
      <%= f.submit @submit_button_text, class: 'submit-btn' %>
    </div>
  <% end %>
  