<div class="top-bar">
  <img src="<%= image_path('Box_logo.png') %>" alt="Logo" class="top-bar-logo">
  <img src="<%= image_path('profile.png') %>" alt="Profile Picture" class="profile-picture">
</div>
<div class="header-bar">
  <h1 class="welcome-text">Howdy, <%= @current_user.first_name %>!</h1>
  <%= link_to "Logout", logout_path, class: "logout-btn" %>
</div>

<h1 class="admin-text">Courses</h1>



<div class="course-table-container">
  <table class="course-table">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= link_to course.course_name, course_path(course) %></td>
          <td>
            <%= link_to 'Edit', edit_course_path(course) %> |
            <%= link_to 'Delete', course_path(course), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="course-bar">
  <%= link_to 'Back', users_showAdmin_path(@current_user, Date.today), class: 'gen-btn', data: { turbo: false } %>
  <%= link_to 'New Course', new_course_path, class: "gen-btn"%>
</div>

