<div class="top-bar">
  <img src="<%= image_path('Box_logo.png') %>" alt="Logo" class="top-bar-logo">
  <img src="<%= image_path('profile.png') %>" alt="Profile Picture" class="profile-picture">
</div>
<div class="header-bar">
  <h1 class="welcome-text">Howdy, <%= @current_user.first_name %>!</h1>
  <%= link_to "Logout", logout_path, class: "logout-btn" %>
</div>


<h1 class="admin-text">New Course</h1>
<%= render 'form' %>
<%= link_to 'Back', courses_path, class: "gen-btn"%>

<div class="bottom-bar">
        <img src="<%= image_path('Horiz_logo.png') %>" alt="Logo" class="bottom-bar-logo">
</div>
