<h1><%= @course.course_name %></h1>

<p>
  <strong>Course Number:</strong>
  <%= @course.course_number %>
</p>

<p>
  <strong>Instructor Name:</strong>
  <%= @course.instructor_name %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @course.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @course.end_date %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back to Courses', courses_path %>
